# Ignore the vendor directory as it's generally managed by Composer
/vendor

# Ignore the node_modules directory as it's generally managed by npm/yarn
/node_modules

# Ignore compiled output and cache directories
/public/css
/public/js
/storage
/bootstrap/cache

# Ignore user-specific files
/.idea
/.phpunit.result.cache
/.phpunit-watcher.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Ignore editor/IDE specific files and directories
/.vscode
/.DS_Store
/.phpstorm.meta.php
/.phpstorm_helpers
/.idea
*.iml
*.ipr
*.iws
*.tmproj

__pycache__/
*.py[cod]
